@page
@model EventsModel
@{
    ViewData["Title"] = "Events";
}
<div class="container d-flex justify-content-center flex-column w-75">
    <h2 class="text-center">Published Events</h2>

    <div class="accordion accordion-flush" id="events-accordion">
        @if (Model.Events != null)
        {
        
            @foreach (Event evt in Model.Events)
            {
                await PrintAccordionItem(evt);
            }

        }
    </div>
</div>

@functions
{
    async Task PrintAccordionItem(Event evt)
    {
        <div class="accordion-item">
            <h2 class="accordion-header d-flex justify-content-between" id="event-@evt.Id">
                <button class="accordion-button collapsed" style="font-size: calc(1.3rem + .6vw);" type="button" data-bs-toggle="collapse" data-bs-target="#event-@evt.Id-collapse" aria-expanded="false" aria-controls="event-@evt.Id-collapse">
                    @evt.Title
                </button>
                <a asp-page="./Join" asp-route-id="@evt.Id" class="btn btn-outline-success fw-bold m-3">Join</a>
            </h2>
            <div id="event-@evt.Id-collapse" class="accordion-collapse collapse" aria-labelledby="event-@evt.Id" data-bs-parent="#events-accordion">
                <div class="accordion-body">
                    <header class="h3 card-header d-flex justify-content-between"><span>@evt.Organizer.UserName </span><span>Spots: @evt.Attendees.Count/@evt.SpotsAvailable</span></header>
                    <p class="m-1">@evt.Description</p>
                    <footer class="card-footer d-flex justify-content-between"><span>@evt.Date.ToShortDateString()</span><span>@evt.Place</span></footer>
                </div>
            </div>
        </div>
    }
}