@page
@using EventiaWebapp.Utils
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var user = Model.CurrentUser;
    List<Event>? events = null;
    if (user != null)
    {
        events = user.JoinedEvents;
    }
}

<div class="container d-flex justify-content-center flex-column w-75">
    <div class="d-flex flex-column align-items-center">
        <h1 class="display-4 text-center">Welcome
            @if (user != null)
            {
                <span> @user.FirstName @user.LastName</span>
            
            }
        </h1>
        @if (user == null)
        {
            await PrintWelcome();
        }
        else if (events.Count != 0)
        {
            <h2 class="text-center">Your Events</h2>
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th scope="col">@Html.DisplayNameFor(model => events.ElementAt(0).Title)</th>
                    <th scope="col">@Html.DisplayNameFor(model => events.ElementAt(0).Date)</th>
                    <th scope="col">@Html.DisplayNameFor(model => events.ElementAt(0).Place)</th>
                    <th scope="col">@Html.DisplayNameFor(model => events.ElementAt(0).Organizer.UserName)</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var evt in events)
                {
                    <tr>
                        <th scope="row">@evt.Title</th>
                        <td>@TimeUtils.ConvertUtcToSpecificTimeZone(evt.Date, evt.UtcTimeOffset)</td>
                        <td>@evt.Place</td>
                        <td>@evt.Organizer.UserName</td>
                    </tr>
                }
                </tbody>
            </table>
        }
    </div>
</div>

@functions
{
    async Task PrintWelcome()
    {
        <p>This is a service to sign up for events handled by Kim!</p>
        <div class="container d-flex justify-content-center">
            <a asp-page="/User/Events" class="btn btn-outline-primary m-2">Register</a>
            <a asp-page="/User/LogIn" class="btn btn-outline-primary m-2">Log In</a>
        </div>
    }
}
