@page
@model JoinModel
@{
    var currentEvent = Model.CurrentEvent;
    ViewData["Title"] = "Join" + currentEvent.Title;
}

<div class="container d-flex align-items-center justify-content-center flex-column w-75">
    <div class="card">
        <h2 class="card-header d-flex justify-content-between">
            <span>@currentEvent.Title</span>
            <span>Spots: @currentEvent.Attendees.Count/@currentEvent.SpotsAvailable</span>
        </h2>
        <div class="card-body">
            @currentEvent.Description
        </div>
        <footer class="card-footer d-flex justify-content-between">
            <span>@currentEvent.Date.ToShortDateString()</span> 
            <span>@currentEvent.Place</span> 
        </footer>
    </div>


    @if (Model.IsJoined)
    {
        await PrintJoinedHtml(@currentEvent);
    }
    else
    {
        @if (Model.EventFull)
        {
            <h1>EVENT FULL</h1>
        }
        else
        {
            <form class="m-2" method="post"><button class="btn btn-outline-success fw-bold">Join This Event</button></form>
        }
    }
</div>

@functions
{
    async Task PrintJoinedHtml(Event evt)
    {
        <div class="d-flex flex-column align-items-center">
            <h2>Successfully joined @evt.Title! See you there!</h2>
            <div class="container d-flex justify-content-center">
                <a asp-page="/Events" class="btn btn-outline-success fw-bold m-1">View more events</a>
                <a asp-page="/User/MyEvents" class="btn btn-outline-success fw-bold m-1">View your events</a>
            </div>
        </div>
    }
}
