@page
@model EventiaWebapp.Pages.User.IndexModel
@{
    var attendee = Model.User;
}

<div class="container d-flex flex-column align-items-start">
    <h3>Your information</h3>
    <div>Email: @attendee.Email</div>
    <div>Phone-number: @attendee.PhoneNumber</div>
    <div>First Name: @attendee.FirstName</div>
    <div>Last Name: @attendee.LastName</div>
    <h3>Saved Cookies</h3>
    @foreach(var claim in User.Claims)
    {
        <div>@claim.Type: @claim.Value </div>
    }
    @*@if (attendee.IsAdmin())
    {
        <a class="btn btn-outline-success fw-bold m-3" asp-page="/Development/Index">Go to developer page</a>
    }*@
</div>