@page
@using EventiaWebapp.Utils;
@model EventiaWebapp.Pages.User.MyEventsModel
@{
    var events = Model.Events;
    var attendee = Model.CurrentUser;
    ViewData["Title"] = attendee.FirstName + " " + attendee.LastName + "'s Events";
}

<div class="container d-flex justify-content-center flex-column w-75">
    <h1 class="text-center">@attendee.FirstName @attendee.LastName's Events</h1>
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th scope="col">@Html.DisplayNameFor(model => events[0].Title)</th>
            <th scope="col">@Html.DisplayNameFor(model => events[0].Date)</th>
            <th scope="col">@Html.DisplayNameFor(model => events[0].Place)</th>
            <th scope="col">@Html.DisplayNameFor(model => events[0].Organizer)</th>
            <th scope="col">Unregister</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var evt in events)
        {
            await PrintTableRow(evt);
        }
        </tbody>
    </table>
</div>

@functions
{
    async Task PrintTableRow(EventiaWebapp.Models.Event evt)
    {
        //TODO: Style it.
        <tr>
            <th scope="row">@evt.Title</th>
            <td>@TimeUtils.ConvertUtcToSpecificTimeZone(evt.Date, evt.UtcTimeOffset)</td>
            <td>@evt.Place</td>
            <td>@evt.Organizer.FirstName @evt.Organizer.LastName</td>
            <td><form method="post">
                <button type="submit">X</button>
                <input type="hidden" name="eventId" value="@evt.Id"/>
            </form></td>
        </tr>
    }
}
