@page
@model EventiaWebapp.Pages.Organizer.IndexModel
@{
    ViewData["Title"] = "Organize Events";
    var events = Model.Events;
}
<div class="container d-flex justify-content-center flex-column w-75">
<h2 class="display-4 text-center mb-3">Manage your hosted Events</h2>
<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th scope="col">Title</th>
        <th scope="col">Date</th>
        <th scope="col">Location</th>
        <th scope="col">Sign ups</th>
        <th scope="col">Edit</th>
        <th scope="col">Details</th>
    </tr>
    </thead>
    
    <tbody>
    @for (var i = 0; i < events.Count; i++)
    {
        <tr>
            <th scope="row">@events[i].Title</th>
            <td>@events[i].Date.ToShortDateString()</td>
            <td>@events[i].Place</td>
            <td>@events[i].Attendees.Count / @events[i].SpotsAvailable</td>
            <td><a class="btn btn-outline-info" asp-page="/Organizer/Edit" asp-route-id="@events[i].Id">Edit</a></td>
            <td><a class="btn btn-outline-info" asp-page="/Organizer/EventDetails" asp-route-id="@events[i].Id">Details</a></td>
        </tr>
    }
    </tbody>
</table>
</div>